<div class="container">
    <div class="row mb-5">
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-sm-6 text-secondary h-100" style="margin-top: 30px;">
            Email: <b>Info@aquamanchallenge.com</b><br>
        </div>
        <div class="col-sm-6 text-right" style="margin-top: 30px;">
            <b>Powered by</b><br>
            <img src=" https://gazef.s3-us-west-2.amazonaws.com/Accept-Website-Logo.png">
        </div>
    </div>
</div>

<footer class="text-center" style="margin-top: 30px;">
    <p>Onine ticketing system by <a href="https://bit68.com/" target="_blank">Bit68</a></p>
</footer>