<nav>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-12">
                <img src="assets/nav-logo.png" style="width: 190px; margin: 30px 0 0;" alt="logo">
            </div>
            <div class="col-md-6 col-12 grey text-center">
                Event: <b>{{eventName}}</b>
                <br>
                Date: <b>{{eventDate}}</b>
                <br>
                Online Ticketing System
                <br>
                <b>{{eventEmail}}</b> Inquires:

            </div>
        </div>
    </div>
</nav>
