<section class="row justify-content-center">
    <main class="col-md-7 col-12 p-4 customBorder">

        <!-- Step 1 Progress -->
        <app-progress-line [step]="1"></app-progress-line>

        <!-- HEADER -->
        <div #headerOfTheForm class="my-5 text-center">
            <h2>Ticket Information</h2>
        </div>

        <!-- Ticket Number  -->
        <div class="col-md-12 text-center">
            <b>Ticket number: {{totalNumberOfMembers-currentNumberTicket+1}}</b>
        </div>

        <!-- Info2 Form -->
        <form class="mt-4" #form="ngForm" (ngSubmit)="onSubmit(form)">

            <!-- Name -->
            <div class="form-group row">
                <label class="col-md-6 col-form-label" for="input1">
                    <b>Name *</b>
                </label>
                <div class="col-md-6">
                    <input [ngClass]="Error_Flag&&!name.valid&&ERROR_INPUT_CLASS" [ngModel]="initValue['name']" name="name" #name="ngModel"
                        type="text" id="input1" required>
                </div>
            </div>

            <!-- Gender -->
            <div class="form-group row">
                <label class="col-md-6 col-form-label" for="select1">
                    <b>Gender *</b>
                </label>
                <div class="col-md-6">
                    <select [ngClass]="Error_Flag&&!gender.valid&&ERROR_INPUT_CLASS" [ngModel]="initValue['gender']" name="gender"
                        #gender="ngModel" id="select1" required>
                        <option value="male">Male</option>
                        <option value="female">female</option>
                    </select>
                </div>
            </div>

            <!-- Birthday -->
            <div class="form-group row">
                <label class="col-md-6 col-form-label" for="select2">
                    <b>Years of Birth *</b>
                </label>
                <div class="col-md-6">
                    <select [ngClass]="Error_Flag&&!yearOfBirth.valid&&ERROR_INPUT_CLASS" [ngModel]="initValue['yearOfBirth']" name="yearOfBirth"
                        #yearOfBirth="ngModel" id="select2" required>
                        <option *ngFor="let year of years" [value]="year">
                            {{year}}
                        </option>
                    </select>
                </div>
            </div>

            <!-- Email -->
            <div class="form-group row">
                <label class="col-md-6 col-form-label" for="input3">
                    <b>Email *</b>
                </label>
                <div class="col-md-6">
                    <input [ngClass]="Error_Flag&&!email.valid&&ERROR_INPUT_CLASS" [ngModel]="initValue['email']" name="email" #email="ngModel"
                        type="email" email id="input3" required>
                </div>
            </div>

            <!-- Phone -->
            <div class="form-group row">
                <label class="col-md-6 col-form-label" for="input4">
                    <b>Phone Number *</b>
                </label>
                <div class="col-md-6">
                    <input [ngClass]="Error_Flag&&!phone.valid&&ERROR_INPUT_CLASS" [ngModel]="initValue['phone']" name="phone" #phone="ngModel"
                        type="tel" pattern="[0-9]{11}" id="input4" required>
                </div>
            </div>

            <!-- T-Shirt Size -->
            <div class="form-group row">
                <label class="col-md-6 col-form-label" for="select3">
                    <b>T-shirt Size *</b>
                </label>
                <div class="col-md-6">
                    <select [ngClass]="Error_Flag&&!shirtSize.valid&&ERROR_INPUT_CLASS" [ngModel]="initValue['shirtSize']" name="shirtSize"
                        #shirtSize="ngModel" id="select3" required>
                        <option class="text-uppercase" *ngFor="let size of sizes" [value]="size">
                            {{size}}
                        </option>
                    </select>
                </div>
            </div>

            <!-- A Comment Input -->
            <div class="form-group row">
                <label class="col-md-6 col-form-label" for="input5">
                    <b>Any injuries, if yes please mention</b>
                </label>
                <div class="col-md-6">
                    <input [ngModel]="initValue['comment']" name="comment" type="text" id="input5">
                </div>
            </div>

            <!-- Swimming pace -->
            <div class="form-group row">
                <label class="col-md-6 col-form-label" for="select4">
                    <b>Swimming pace per 100m *</b>
                </label>
                <div class="col-md-6">
                    <select [ngClass]="Error_Flag&&!pace.valid&&ERROR_INPUT_CLASS" [ngModel]="initValue['pace']" name="pace" #pace="ngModel"
                        id="select4" required>
                        <option value="1">below 1 min 30 secs</option>
                        <option value="2">below 2</option>
                        <option value="3">below 3</option>
                    </select>
                </div>
            </div>

            <!-- Promo Code -->
            <div class="mt-4">
                <a (click)="havePromo=true">Do you have a promo code?</a>
            </div>
            <div *ngIf="havePromo" class="form-group row mt-3">
                <label class="col-md-6 col-form-label" for="input6">
                    <b>Promo Code</b>
                </label>
                <div class="col-md-6">
                    <input [ngModel]="initValue['promoCode']" name="promoCode" type="text" id="input6" placeholder="Promo Code">
                </div>
            </div>

            <!-- proceed button -->
            <div class="my-5">
                <button class="proceedButton" type="submit">Proceed to next step</button>
            </div>
        </form>

        <!-- Step 1 Progress -->
        <app-progress-line [step]="1"></app-progress-line>

    </main>
</section>