a {
    color: #337ab7 !important;
    text-decoration: none;
    cursor: pointer;

    &:focus,
    &:hover {
        color: #23527c !important;
        text-decoration: underline !important;
    }
}
