@import "variables";

#tableSection {
    table {
        cursor: default;
        .redHead {
            background-color: $tableColor !important;
        }
        td,
        th {
            height: 20px;
            padding: 8px;
            text-align: right;
            &:first-child {
                text-align: left;
            }
        }
        .blackBorderBottom{
            border-bottom: #000 solid 4px;
        }
        .redBorderBottom{
            border-bottom: $tableColor solid 4px;
        }
    }
}