a {
    color: #337ab7 !important;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 0;

    &:focus,
    &:hover {
        color: #23527c !important;
        text-decoration: underline !important;
    }
}

.dashedBorder{
    border-bottom: #000 dashed 1px;
    padding-bottom: 0.3rem;
}
