/* You can add global styles to this file, and also import other style files */
@import 'variables';

.customBorder{
    border: 4px solid #333;
    border-radius: 15px;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.proceedButton{
    text-align: center;
    display: block;
    width: 190px;
    padding: 10px;
    color: #fff !important;
    text-decoration: none !important;
    background: $buttonColor;
    transition: .2s all;
    margin: 30px auto;
    border: none !important;
    &:hover{
        background-color: $ButtonHoverColor;
    }
}

.sucessButton{
    text-align: center;
    display: block;
    width: 250px;
    padding: 10px;
    color: #fff !important;
    text-decoration: none !important;
    background: $successButtonColor;
    transition: .2s all;
    margin: 30px auto;
    border: none !important;
    &:hover{
        filter: brightness(1.2);
    }
}

input,select{
    height: 35px;
    line-height: 35px;
    text-indent: 5px;
    width: 100%;
    background: #fff;
    border-radius: 0;
    border: 1px solid #eee;
}