<!-- Description Section -->
<section id="descSection" class="row">
    <main class="col-md-9 col-12 p-4">
        <!-- HEADER -->
        <div>
            <h1 class="h3">Aquaman Challenge</h1>
        </div>
        <div>
            <h5>Total due: EGP 850</h5>
        </div>
        <div>
            <p>1 tickets</p>
            <p>
                An email has been sent to ss@ss with a link to this payment page, you can come back to make the payment
                at a
                later time.
                This registration will no longer be valid if the payment is not made within five days.
            </p>
        </div>
    </main>

    <div id="payNowButton" class="col-md-7 col-12">
        <button class="proceedButton m-0 mx-5">Pay Online Below</button>
    </div>
</section>

<!-- Table of Tickets Section -->
<section id="tableSection" class="row justify-content-center">
    <main class="col-md-12 p-4">
        <table class="table">
            <thead class="text-uppercase redHead text-light">
                <tr>
                    <th scope="col" style="width:40%">item</th>
                    <th scope="col">quantity</th>
                    <th scope="col">unit price</th>
                    <th scope="col">total</th>
                </tr>
            </thead>
            <tbody>
                <tr class="blackBorderBottom">
                    <th scope="row">1 Ticket - (Hossam Sherif)</th>
                    <td>1</td>
                    <td>EGP 850.0</td>
                    <td>EGP 850.0</td>
                </tr>
            </tbody>
            <tfoot class="text-uppercase">
                <tr>
                    <td></td>
                    <td></td>
                    <td class="redBorderBottom text-left">Total Due</td>
                    <td class="redBorderBottom text-right">EGP 850.0</td>
                </tr>
            </tfoot>
        </table>
    </main>
</section>

<!-- progress bar -->
<section class="row justify-content-center mb-5">
    <div class="col-md-7 col-12 p-4">
        <app-progress-line step="3"></app-progress-line>
    </div>
</section>

<!-- PAYMENT SECTION -->
<hr>
<section class="row justify-content-center">
    <main class="col-md-7 col-12 p-4">
        <!-- HEADER -->
        <div class="text-center">
            <h2>Payment Information</h2>
        </div>

        <!-- Credit Card Form -->
        <div style="height: 300px;">
            <!-- PAYMENT CARD SNIPPET HERE -->
        </div>

    </main>
</section>